* {
    font-family: 'Cozette', monospace;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    border-radius: 8px; 
    border: 2px #000000;
    margin: 4px 4px 4px 4px; 
    background-color: #ffffff; 
    box-shadow: 0 0 2 2px rgba(0, 0, 0, 0.05); 
}


button {
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    color: #000000;
    padding: 0 10px;
    background-color: transparent;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    font-weight: bold;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#battery,
#backlight,
#pulseaudio,
#clock {
    padding: 0 10px;
  }

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
}

#battery.charging, #battery.plugged {
    color: #008000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    background-color: transparent;
}

#pulseaudio.muted {
    color: #f53c3c;
}
